<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/TwitterAggregator2/Filter"><span class="mdi-communication-comment"></span> Twitter Agregrator</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/TwitterAggregator2/Filter">Filters</a></li>
          <li><a href="/TwitterAggregator2/Tweets">Tweets</a></li>
          <li><a href="/TwitterAggregator2/Labelling">Labeling</a></li>
          <li><a href="/TwitterAggregator2/PreprocessingInfo">Preprocessing</a></li>
          <li><a href="/TwitterAggregator2/CrawlerInfo">Crawler</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>