<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description></description>
    <display-name>Filter</display-name>
    <servlet-name>Filter</servlet-name>
    <servlet-class>controller.FilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filter</servlet-name>
    <url-pattern>/Filter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrawlerInfo</display-name>
    <servlet-name>CrawlerInfo</servlet-name>
    <servlet-class>controller.CrawlerInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrawlerInfo</servlet-name>
    <url-pattern>/CrawlerInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Crawler</display-name>
    <servlet-name>Crawler</servlet-name>
    <servlet-class>controller.CrawlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Crawler</servlet-name>
    <url-pattern>/Crawler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Labelling</display-name>
    <servlet-name>Labelling</servlet-name>
    <servlet-class>controller.LabellingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Labelling</servlet-name>
    <url-pattern>/Labelling</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveLabel</display-name>
    <servlet-name>SaveLabel</servlet-name>
    <servlet-class>controller.SaveLabelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveLabel</servlet-name>
    <url-pattern>/SaveLabel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tweets</display-name>
    <servlet-name>Tweets</servlet-name>
    <servlet-class>controller.DisplayTweetsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tweets</servlet-name>
    <url-pattern>/Tweets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreprocessingInfo</display-name>
    <servlet-name>PreprocessingInfo</servlet-name>
    <servlet-class>controller.PreprocessingInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreprocessingInfo</servlet-name>
    <url-pattern>/PreprocessingInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Preprocessing</display-name>
    <servlet-name>Preprocessing</servlet-name>
    <servlet-class>controller.PreprocessingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Preprocessing</servlet-name>
    <url-pattern>/Preprocessing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Weighting</display-name>
    <servlet-name>Weighting</servlet-name>
    <servlet-class>controller.WeightingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Weighting</servlet-name>
    <url-pattern>/Weighting</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>/WEB-INF/tlds/template.tld</taglib-uri>
      <taglib-location>/WEB-INF/tlds/template.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>